$bg-brand: #ffe600;
$bg-foreground: #ebebeb;
$bg-white: #ffffff;

$color-green: #00a650;
$color-blue: #3483fa;
$color-blue-dark: #2968c8;

$text-disable: rgba(0, 0, 0, 0.5);
$text-primary: rgba(0, 0, 0, 1);
$text-secondary: rgba(0, 0, 0, 0.9);

$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
